// Variables
//@import 'variables';

// Tailwind
@tailwind base;

@tailwind components;

@tailwind utilities;

// Base layout stlying
nav {
    height: 75px;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-red-700;
}

#nav {
    @apply flex flex-row items-center border-red-700 border-solid border-b-2 p-3 sticky top-0 bg-gray-200 shadow-md;
}

#footer {
    @apply w-full bg-gray-800 h-10;
}

#body {
    @apply bg-gray-200;
}

#main {
    @apply py-10 mx-auto;
}

// Page view components
.content-header {
    @apply text-4xl font-semibold text-center mb-4;
}

// Form components
.input {
    @apply shadow w-full;
}

.form-row {
    @apply flex flex-row mb-3;
}

.btn {
    @apply border-red-700 border-solid border py-1 px-2;
}
