<template>
    <div>
        <div>
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text" v-model="form_data.first_name" placeholder="First Name">
            <label for="last_name">Last Name:</label>
            <input id="last_name" type="text" v-model="form_data.last_name" placeholder="Last Name">
            <label for="email">Email:</label>
            <input id="email" type="text" v-model="form_data.email" placeholder="Email">
            <label for="phone_number">Phone Number:</label>
            <input id="phone_number" type="text" v-model="form_data.phone_number" placeholder="phone_number">
        </div>
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email Address</td>
                    <td>Phone Number</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="contact in contacts">
                    <td>{{contact.first_name}}</td>
                    <td>{{contact.last_name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.name}}</td>
                </tr>
            </tbody>
        </table>
        <ol>
            <li v-for="item in Math.ceil(this.total_contacts/this.limit)">
                {{item}}
            </li>
        </ol>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        props: {
            limit: {
                required: true,
                type: Number
            }
        },
        data(){
            return {
                contacts:[],
                total_contacts: 0,
                form_data: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone_number: '',
                    offset: 0,
                }
            }
        },
        methods: {
            getContacts(){
                self = this;
                axios.get('http://ultimate-codetest.test/api/contacts', this.form_data)
                    .then(function (response) {
                        self.contacts = response.data.contacts;
                        self.total_contacts = response.data.total_contacts;
                    })
            }
        },
        mounted(){
          this.getContacts()
        },
        watch: {
            form_data: {
                handler(filters) {
                    this.getContacts(filters)
                },
                deep: true
            }
        }

    };
</script>
